.auto-complete-container {
  position: relative;
  height: 500px;
}

.auto-complete-content {
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99999;
  display: none;
  position: absolute;
  background-color: white;
}

.item-level:not(.level-2) {
  line-height: 26px;
}

.item-level.level-2 {
  line-height: 28px;
}
 .item-level.level-0 {
    padding-left: 5px;
    padding-top: 4px;
    background-color: #E9E9E9;
    font-weight: bold;
  }

  .item-level.level-1 {
    padding-top: 4px;
    padding-left: 20px;
  }

.last-child {
  padding-left: 60px
}

.auto-complete-content label {
  padding-left: 5px;
}

.auto-complete-content label:hover, .auto-complete-content div.last-child:hover {
  cursor: pointer;
}

.item-active, .item-level:hover {
  background-color: #1e90ff;
  color: white;
}

.item-level:hover ~ body{
  background-color: green;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}

  .bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
  }

  .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
  }

    .bootstrap-tagsinput .tag [data-role="remove"] {
      margin-left: 8px;
      cursor: pointer;
    }

      .bootstrap-tagsinput .tag [data-role="remove"]:after {
        content: "x";
        padding: 0px 2px;
      }

      .bootstrap-tagsinput .tag [data-role="remove"]:hover {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      }

        .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

#searchText {
  background: url(../../../assets/img/arrow-down.png) calc(100% - 10px) center no-repeat;
}
