<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>auto complete </h2>
      <div class="input-field col s12">
        <input id="country" type="text" class="form-control" [(ngModel)]=query (keyup)=filter()>
      </div>
      <ul *ngFor="let region of countries | searchfilter:query:'region'">
        <li>
          <label>{{region.name}}</label>
          <div>
            <ul *ngFor="let country of countries | searchfilter: query: 'country': region.name">
              <li>
                <div>
                  <img [src]="country.flag" style="width: 24px; height: 24px;" />
                  <a (click)="select(country)">{{country.name}}</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Auto complete mutiple level</h2>
    </div>
  </div>

</div>
